$font-stack: "Helvetica"
$text-color: #EFF5F5
$text-color-secundary: #D6E4E5
$body-bg-color: #497174
$bg-color: #111111
$bg-color-secundary: #EB6440
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221,36,118,1) 100%)